.build/
lib/
dist/
.serverless/
node_modules/
.logs
.tmp
.webpack
.env
tsconfig.tsbuildinfo
package-lock.json
yarn-error.log
.bots
_warmup/
test-results.xml
test-results/
coverage/
.nyc_output/
.idea
